<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_item">
                <li class="main-header_item-list"><a href="/">Shop</a></li>
                <li class="main-header_item-list"><a class="active" href="/add-product">Add-Product</a></li>
                <li class="main-header_item-list"><a href="/about">About</a></li>
            </ul>
        </nav>
        
    </header>


    <main class="main">
        <form class="product-form" action="/product" method="POST">
            <div class="form-control">
                <label for="firstname">Firstname</label>
                <input type="text"  name="firstname" id="firstname">
                <label for="">Lastname</label>
                <input type="text"  name="lastname" id="firstname">
            </div>
            
            
            <button class="btn" type="submit">Add Product</button>
        </form>
    </main>
</body>
</html>