<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_item">
                <li class="main-header_item-list"><a  class="active" href="/">Shop</a></li>
                <li class="main-header_item-list"><a  href="/add-product">Add-Product</a></li>
                <li class="main-header_item-list"><a href="/about">About</a></li>
            </ul>
        </nav>
        
    </header>



    <main class="mains ">
        <h1>Add a product</h1>
        <p>Get something done</p>
    </main>
</body>
</html>