extends layout/layout.pug

block styles
    link(rel="stylesheet", href="/css/main.css")

block content
    main.main  
        h1 Add a product
        if prods.length > 0
            each product in prods
                p #{product.firstname} #{product.lastname}
                img(src="")


