body{
    width: 100%;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    
}

.main-header{
    width: 100%;
    height: 3.5rem;
    background-color: #02491a;

}
.main-header_nav{
    height: 100%;
    display: flex;
    align-items: center;
}
.main-header_item{
   margin: 0;
   padding: 0 1.5rem;
   display: flex;
}
.main-header_item-list{
    padding: 0 10px;
    align-items: center;
    list-style: none;
}
.main-header_item-list a{
    text-decoration: none;
    color: white;
    padding: 0.5rem;
}
.main-header_item-list a:hover,
.main-header_item-list a:active,
.main-header_item-list a.active{
    color:#929007;
}

.main{
    margin: 1.5rem;
}

