
body{
    background-color: black;
}

.box{
    background-color: white;
    width: 200px;
    height: 200px;
    position: relative;
    animation-name: myamination;
    animation-duration: 4s;
}

@keyframes myamination {
    0%{background-color: #fff; top: 0px; left: 0px; border-radius: 0 0 0 0;}
    25%{background-color: #98b898; top: 0px; left: 300px; border-radius: 50% 50% 0 0;}
    50%{background-color: green; top: 300px; left: 300px; border-radius: 0 50% 50% 0;}
    75%{background-color: yellow; top: 300px; left: 0px; border-radius: 0 0 50% 50%;}
    100%{background-color: #fff; top: 0px; left: 0px; border-radius: 50% 50% 50% 50%;}
}
.product-form{
    width: 30rem;
    max-width: 90%;
    margin: auto;

}
.form-control{
    margin: 1rem 0;
}
.form-control label,
.form-control input{
    display: block;
    margin-top: 5px;
    
}
.form-control input{
    border: 2px solid blue;
    border-radius: 4px;
    font: inherit;
}
.btn{
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 3px;
    background-color: #0b9761;
    color: white;
    transition-property: background;
    transition-duration: 4s;
}
.btn:active,
.btn:hover{
    background-color: #2f0557;;
    color: ivory;
}